:root{
    --text: #001e03;
    --dartmouth: #055c0e;
    --seagreen: #3e8458;
    --zomp: #5b987d;
    --camblue: #7cab9c;
    --lightcam: #9abba9;
    --background: #fbfaeb;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 100px; 
}

/* 
title
font-family: 'Noto Serif JP', serif;
text
font-family: 'Raleway', sans-serif; */