.item9 footer {
    background-color: var(--background);
    color: var(--text);
    padding: 20px;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
    margin-left: 50px;
  }
  
  .item9 footer ul {
    list-style: none;
  }
  
  .item9 footer ul li {
    display: inline-block;
    margin-right: 10px;
    line-height: 25px;
  }
  
  .item9 footer ul li a {
    color: var(--text);
    text-decoration: none;
    border-radius: 1em;
    margin: 10px;
    padding: 5px;
  }