.item9 a {
    float: left;
    display: flex;
    color: var(--background);
    text-align: center;
    padding: 14px 30px;
    margin-left: 15px;
    text-decoration: none;
    font-size: 1rem;
    border-radius: 1em;
    background-color: var(--camblue);
}

.item9{
    position: sticky;
    top: 0;
    width: 100%;
    height: auto;
    background-color: var(--background);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px;
}