.item1 { grid-area: header;}
.item2 { grid-area: nav;}
.item3 { grid-area: menu;}
.item4 { grid-area: main;}
.item5 { grid-area: right;}
.item6 { grid-area: attorneys;}
.item7 { grid-area: individuals;}
.item8 { grid-area: nonprofit;}
.item9 { grid-area: fees;}
.item10 { grid-area: footer;}

.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'nav nav nav nav nav nav'
    'menu main main main main right'
    'menu attorneys attorneys attorneys attorneys attorneys'
    'menu individuals individuals individuals individuals individuals'
    'menu nonprofit nonprofit nonprofit nonprofit nonprofit'
    'menu fees fees fees fees fees'
    'footer footer footer footer footer footer';
    gap: 10px;
    background-color: var(--background);
    padding: 10px;
}

.grid-container > div {
    background-color: var(--background);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

/* header */
.item1 {
    height: 25em;
    background-image: url(../images/greenbanner.jpg);
    width: 100%;
}


/* main text/content */
.item4 {
    height: 20em;
}

/* right image */
.item5 {
    height: 20em;
    background-image: url();
    width: 100%;
}

/* attorneys */

/* individuals */

/* nonprofit */

/* fees */

/* footer */
.item10 {
    height: 5em;
}
