.item1 { grid-area: header;}
.item2 { grid-area: nav;}
.item3 { grid-area: menu;}
.item4 { grid-area: main;}
.item5 { grid-area: right;}
.item6 { grid-area: attorneys;}
.item7 { grid-area: individuals;}
.item8 { grid-area: fees;}
.item9 { grid-area: footer;}

.grid-container{
    display: grid;
    grid-template-areas:
    'header header header header header header'
    'nav nav nav nav nav nav'
    'menu main main main right right'
    'menu attorneys attorneys attorneys attorneys attorneys'
    'menu individuals individuals individuals individuals individuals'
    'menu fees fees fees fees fees'
    'footer footer footer footer footer footer';
    gap: 10px;
    background-color: var(--background);
    padding: 10px;

}

.grid-container > div {
    background-color: var(--background);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

body{
    margin: 0;
}

/* header */
.item1 {
    height: 25em;
    background-image: url(../images/greenbanner.jpg);
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title {
    text-align: center;
    background-color: #3e84586f;
    color: var(--background);
    width: 70%;
}


/* about*/
.item4{
    width: 100%;
}
.item4 h2{
    font-size: 2rem;
    font-family: 'Raleway', sans-serif;
    color: var(--text);
}

.item4 h3{
    font-size: 1.5rem;
    font-family: 'Noto Serif JP', serif;
    color: var(--seagreen);
}
.item4 ol li{
    font-size: 1rem;
    font-family: 'Noto Serif JP', serif
}

/* right image */
.item5 {
    display: flex;
    flex: end;
    height: auto;
    float: left;
}

/* individuals */
.square-text-wrapper{
    font-size: 1rem;
    margin-right: 10px;
}

.square-text-wrapper h3{
    font-family: 'Noto Serif JP', serif;
    color: var(--dartmouth)
}

.square-text-wrapper p, ul, li {
    font-family: 'Raleway', sans-serif;
    color: var(--seagreen);
}

/* styling from devcamp */
.squares-wrapper {
    display: flex;
    justify-content: center;
  }
  
  .squares {
    width: 30em;
  }
  
  .square {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: auto;
  }
  
  .square > .img-wrapper img {
    width: 100%;
    object-fit: cover;
  }
  
  .square > .square-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
  }
  /* end of styling from devcamp */

/* footer */
.item9 {
    height: 5em;
}
